@keyframes heart {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}
@keyframes change-color-anim {
    0% {
        background-color: #f72585;
    }
    10% {
        background-color: #fdfdfd;
    }
    20% {
        background-color: #40c8db;
    }
    30% {
        background-color: #fae88e;
    }
    40% {
        background-color: #32aae9;
    }
    50% {
        background-color: #d8a84a;
    }
    60% {
        background-color: #cd537f;
    }
    70% {
        background-color: #022f61;
    }
    80% {
        background-color: #6a48ff;
    }
    90% {
        background-color: #f9e5db;
    }
    100% {
        background-color: #f72585;
    }
}
@keyframes change-color {
    0% {
        background-color: #e5305c;
    }
    10% {
        background-color: #34a7e7;
    }
    20% {
        background-color: #f3edd2;
    }
    30% {
        background-color: #ee606c;
    }
    40% {
        background-color: #eede44;
    }
    50% {
        background-color: #0c2088;
    }
    60% {
        background-color: #ecfbea;
    }
    70% {
        background-color: #08cfe9;
    }
    80% {
        background-color: #fbb3ff;
    }
    90% {
        background-color: #229781;
    }
    100% {
        background-color: #e5305c;
    }
}
