body {
    @apply text-lg bg-white-100 dark:bg-dark text-t-color dark:text-t-d-color;
    font-family: "Montserrat", sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.profile-img {
    @apply object-cover max-w-full min-w-full rounded-lg shadow;
    @screen md {
        min-height: 300px;
        max-height: 300px;
    }
}

.btn-primary {
    @apply text-sm bg-primary hover:bg-opacity-90 text-white shadow shadow-primary rounded-xl py-2 px-6;
}
.btn-border {
    @apply text-sm bg-primary bg-opacity-10 dark:hover:bg-opacity-70 dark:bg-primary text-primary dark:text-white hover:bg-slate-200 rounded-xl py-2 px-6;
}
