body {
    @apply text-lg bg-white-100 dark:bg-dark text-t-color dark:text-t-d-color;
    font-family: "Montserrat", sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.profile-img {
    @apply object-cover max-w-full min-w-full rounded-lg;
    @screen md {
        min-height: 300px;
        max-height: 300px;
    }
}

.btn-primary {
    @apply cursor-pointer text-sm bg-primary hover:bg-opacity-90 text-white shadow shadow-primary rounded-xl py-2 px-6;
}
.btn-border {
    @apply cursor-pointer text-sm font-bold hover:bg-primary hover:bg-opacity-10 dark:hover:bg-opacity-20 border border-primary text-primary dark:text-white rounded-xl py-2 px-6;
}

.top-hero {
    @apply relative flex max-w-6xl w-full mx-auto px-8 justify-center items-center;
    &-img {
        @apply max-w-6xl w-full relative rounded-lg;
        img {
            @apply w-full mx-auto object-cover rounded-lg;
            max-height: 200px;
        }
        &-bg {
            @apply absolute bg-yellow bg-opacity-50 top-0 right-0 left-0 bottom-0 w-full h-full rounded-lg;
        }
    }
}
.top-authed-hero {
    @apply relative bg-white dark:bg-dark flex w-full mx-auto py-24 px-8 justify-center items-center;
    img {
        @apply absolute z-10 object-contain;
        max-height: 500px;
        margin-left: 85px;
    }

    .heart {
        width: 250px;
        height: 250px;
        position: relative;
        animation: heart 3s infinite;
    }

    .heart::before {
        content: "";
        position: absolute;
        left: 150px; /* x位置 */
        top: 0; /* y位置 */
        width: 150px; /* 幅 */
        height: 250px; /* 高さ */
        background: #ff3266; /* 色 */
        // animation: change-color-anim 60s linear infinite;
        transform: rotate(-45deg);
        transform-origin: 0% 100%;
        border-radius: 100px 60px 0 0; /* 丸み */
        opacity: 0.75;
    }

    .heart::after {
        content: "";
        position: absolute;
        left: 0; /* x位置 */
        top: 0; /* y位置 */
        width: 150px; /* 幅 */
        height: 250px; /* 高さ */
        background: #e5305c; /* 色 */
        transform: rotate(45deg); /* 角度調整 */
        transform-origin: 100% 100%; /* 回転の基準点 */
        // animation: light-heart 1s infinite;
        border-radius: 60px 100px 0 0; /* 丸み */
        // opacity: 0.75;
    }
}

.tag-hero {
    @apply relative flex max-w-6xl w-full mx-auto px-8 justify-center items-center;
    &-img {
        @apply max-w-6xl w-full relative rounded-lg;
        img {
            @apply w-full mx-auto object-cover rounded-lg;
            max-height: 200px;
        }
        &-bg {
            @apply absolute top-0 right-0 left-0 bottom-0 w-full h-full rounded-lg;
            background: rgba(#5367ed, 0.5);
        }
    }
}
