.idea
.vscode
.env
memo.txt
src/public/mix-manifest.json
src/package-lock.json
src/public/js/app.js
src/public/css/app.css
src/public/img/users/avatar/*
src/public/img/users/thumbnail/*
src/package-lock.json
